* {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}

body {
    background-color: rgb(218, 221, 231);
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
}

.calculator {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #282f3b;
    width: 300px;
    height: 400px;
}

#screen-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 30%;
    background-color: #4b5568;
}

#operation {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 90%;
    height: 30%;
}

#result {
    display: flex;
    align-items: end;
    justify-content: right;
    width: 90%;
    height: 60%;
    font-size: 50px;
}

#buttons-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 70%;
}

#buttons-container button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 25%;
    border: 1px solid #282f3b;
    font-size: 20px;
}

button:hover {
    opacity: 90%;
}

button:active {
    opacity: 50%;
}

button.operator {
    background-color: #3278e8;
}

button.number {
    background-color: #7988a2;
}

button.function {
    background-color: #4b5568 ;
}