* {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(218, 221, 231);
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid gray;
}

.calculator {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid black;
    width: 300px;
    height: 400px;
}

#screen-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid blue;
    width: 100%;
    height: 30%;
}

#operation {
    display: flex;
    align-items: center;
    justify-content: right;
    border: 1px solid red;
    width: 90%;
    height: 30%;
}

#result {
    display: flex;
    align-items: end;
    justify-content: right;
    border: 1px solid green;
    width: 90%;
    height: 70%;
    font-size: 50px;
}

#buttons-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 1px solid yellow;
    width: 100%;
    height: 70%;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 20%;
    border: 1px solid purple;    
}